__pycache__/
venv/
.idea/
.pyre/
build/
postgres-data/
rabbitmq-data/
grafana-data/
r4.2/
*cache*
.ipynb_checkpoints/
*.pyc
*.so
*.a
*.egg-info
tmp/*
.vscode
*.DS_Store
logon+device+file_order_by_datetime.csv
